doctype html    
html
    head
        link(rel="stylesheet", href="https://kit.fontawesome.com/f9440a000e.js", crossorigin="anonymous")
        title WeTube
    body
        include ../partials/header.pug
        main
            block content
        include ../partials/footer.pug