mixin videoPlayer(video= {})
    .videoPlayer
        video(src=`/${video.src}`, autoplay)
        .videoPlayer__controls
            .videoPlayer__column
                span   🔊
            .videoPlayer__column
                span    ▶
            .videoPlayer__column
                span    🔳