mixin videoPlayer(video= {})
    .videoPlayer#jsVideoPlayer
        video(src=`/${video.src}`)
        .videoPlayer__controls
            .videoPlayer__column
                .icon
                    span#jsVolumeBtn   🔊
            .videoPlayer__column
                .icon
                    span#jsPlayButton    ▶
            .videoPlayer__column
                .icon
                    span#jsFullScreen    🔳